# Ignorar el entorno virtual
venv/
.env

# Archivos temporales y de sistema
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Metadatos de herramientas específicas
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Archivos específicos de dependencias
pip-log.txt
pip-delete-this-directory.txt

# Archivos de metadata de Solana
metadata/

